/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Light.eot');
    src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff'),
        url('../fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-ThinItalic.eot');
    src: url('../fonts/JosefinSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-ThinItalic.woff') format('woff'),
        url('../fonts/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Italic.eot');
    src: url('../fonts/JosefinSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Italic.woff2') format('woff2'),
        url('../fonts/JosefinSans-Italic.woff') format('woff'),
        url('../fonts/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Thin.eot');
    src: url('../fonts/JosefinSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('../fonts/JosefinSans-Thin.woff') format('woff'),
        url('../fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBold.eot');
    src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBoldItalic.eot');
    src: url('../fonts/JosefinSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-BoldItalic.eot');
    src: url('../fonts/JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-BoldItalic.woff') format('woff'),
        url('../fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-LightItalic.eot');
    src: url('../fonts/JosefinSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-LightItalic.woff2') format('woff2'),
        url('../fonts/JosefinSans-LightItalic.woff') format('woff'),
        url('../fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Bold.eot');
    src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

