//Walking, Biking, Transit

.tab-content {
  display: none;
  &:first-child {
    display: block;
  }
}

.tab-nav {
  padding: 0;
  display: flex;
  list-style: none;
}

.tab-link {
  padding: 1rem;
  text-decoration: none;
}
