
// .staff-image {

// }

.quotes1, .quotes2 {
    color: $color__button-light !important;
  font-size: 4.5rem;
    font-family: $font__main;

}
.quotes1 sup{
    top: 0;
    font-family: $font__main;
}
.quotes2 sub{
    bottom: -1.9rem;
    font-family: $font__main;
    font-size: 1.25rem !important;
    max-width: inherit;
}
.staff-image{
    filter: sepia(60%)
}
