// archive-programs

.page-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../../assets/images/ProgramsBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  position: relative;
  margin: 25px 0px 25px 0px;
  object-fit: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.post-type-archive-program .page-title {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
}

.taxonomy-description p {
  display: none;
}

.post-type-archive-program {
  .programs {
    .program {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      &:hover {
        .overlay {
          opacity: 1;
          top: 0;
          overflow: hidden;
        }
      }
      .overlay {
        opacity: 0;
        position: absolute;
        overflow: hidden;
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  .entry-content {
    position: relative;
    width: 340px;
    height: 300px;
    margin-top: 0;

    .article-thumbnail {
      width: 100%;
      height: 100%;
    }
    .entry-title {
      width: 100%;
      height: 100%;
      top: 0;
      background: linear-gradient(
        rgba(34, 143, 122, 0.63),
        rgba(227, 167, 47, 0.34)
      );
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0;
      a {
        color: $color__header;
        text-decoration: none;
      }
    }
  }

  // overlay content
  .entry-content {
    .overlay {
      background-color: $color__main;
      width: 340px;
      height: 300px;
      border-radius: 20px;
      position: relative;
      display: flex;
      flex-direction: column;

      .overlay-title {
        margin: 10px 10px 0 10px;
        color: white;
        font-weight: 500;
        text-transform: capitalize;
        padding: 10px 5px 15px 5px;
      }

      .overlay-content {
        flex-grow: 1;
        display: flex;
      }
      p {
        text-align: left;
        font-family: $font__second;
        color: white;
        font-weight: 100;
        margin: 0 16px 10px 16px;
        font-size: 1.25rem;
      }
      a {
        // button style
        color: white;
        font-family: $font__main;
        text-transform: uppercase;
        font-weight: 450;
        display: inline-block;
        padding: 5px 30px;
        @include orange-btn;
      }
      .visit-btn {
        margin: 0 auto;
        padding-bottom: 16px;
      }
    }
  }
}
