.site-footer{
     padding: 20px;
    background:$color__background-screen;
    width: 100%;
  
    @include desktop{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }

    .footer-content{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include desktop{
            flex-direction: column;
        }
    }
    .social-media-icons span{
        font-size: 1.8rem; 
        @include desktop{
            font-size: 2.8rem;
            padding-right: 10px;
        }
        .follow-text{
            padding: 0;
            margin: 0;
            font-family: $font__second;
            @include desktop{
                padding-top: 15px;
                font-size: 1.4rem;
            }
        }
    }
    .major-sponsor-text{
        font-weight: 400;
        color: $color__text-screen;
        text-align:center;
        @include desktop{
            text-align: right;
            font-size: 1.5rem;
        }
    }

    .translink-logo-grey{
            width:70%;
            margin-left: 50px;
             @include desktop{
                 margin: 0;
                 width: 200px;
                left:0;
             }
        }
       .menu-footer-menu-container{
           padding-top:24px;
           ul a {
            font-family: $font__second;
           }
       }
        a:link {
        color: $color__main;
     
      }
        a:visited{
            color: $color__main;
        }
        a:hover{
            color: $color__link-hover;
        }
        .social-media-icons{
            a:link{
                color: black;

            }
            a:visited{
                color: black;
            }
            a:hover{
                color:$color__link-hover;
            }
        }
      
   
}