.site-footer{
     padding: 20px;
    background:$color__background;
    width: 100%;
    height: auto;
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .social-media-icons span{
        font-size: 30px; 
        .follow-text{
            padding: 0;
            margin: 0;
        }
    }
    .major-sponsor-text{
        font-weight: 400;
        color: $color__text-screen;
        text-align:center;
    }

    .translink-logo-grey{
        width:70%;
       margin-left: 50px;
        
    }

}