//get involved section//
.involved-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 20px;
  height: 66vw;
  padding: 4.5rem;
  margin: 0 auto;
  @include desktop {
    width: 86%;
    height: 57vw;
  }
}
.donate {
  background-image: linear-gradient(
      120deg,
      rgba(89, 65, 18, 0.7) 5%,
      rgba(13, 56, 48, 0.7) 95%
    ),
    url(../../assets/images/HomepageDonateCard.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 11px;
}
.membership {
  background-image: linear-gradient(
      120deg,
      rgba(89, 65, 18, 0.7) 5%,
      rgba(13, 56, 48, 0.7) 95%
    ),
    url(../../assets/images/HomePageMembershipCard.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 11px;
}
.sponsor {
  background-image: linear-gradient(
      120deg,
      rgba(89, 65, 18, 0.7) 5%,
      rgba(13, 56, 48, 0.7) 95%
    ),
    url(../../assets/images/HomepageSponsorCard.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 11px;
}
.volunteer {
  background-image: linear-gradient(
      120deg,
      rgba(89, 65, 18, 0.7) 5%,
      rgba(13, 56, 48, 0.7) 95%
    ),
    url(../../assets/images/HomepageVolunteerCard.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 11px;
}
.involved-header {
  color: #fff;
  position: relative;
  top: 50%;
  left: 39%;
  font-family: $font__main;
  font-weight: bold;
  font-size: 20px;
}
.involved-header {
  color: #fff;
  position: relative;
  top: 45%;
  left: 31%;
  font-family: $font__main;
  font-weight: bold;
  font-size: 20px;
  @include desktop {
    top: 50%;
    left: 39%;
  }
}

// sponsor flickity-slider 
.main-carousel {
  height: 200px;
}
.flickity-slider {
  padding-bottom: 50px;
}
.flickity-page-dots {
  display: none;
}
.carousel-cell {
  img {
    width: 200px;
    padding: 20px;
  }
}

// News

.fp-news-background {
  height: 700px;
  width: 100vw;
  background: $color__wrapper-news;
  h2 {
    text-align: center;
    color: $color__background-news;
  }
  .fp-news-background-2 {
    background: url(../../assets/images/Newspapercutout.jpg) no-repeat;
    background-size: 30%;
    .fp-news {
      margin: 32px;
      display: grid;
      grid-gap: 1rem;
      grid-template-rows: 1fr 1fr;
      .fp-news-wrapper {
        display: flex;
        width: 100%;
        height: 188px;
        .fp-news-thumbnail {
          width: 35%;
          position: relative;
          overflow: hidden;
          img {
            position: absolute;
            height: 200px;
          }
        }
        .fp-news-info {
          width: 65%;
          display: flex;
          flex-direction: column;
          padding-left: 16px;
          background: $color__background-news;
          .fp-news-title {
            color: $color__header;
            h3 {
              margin: unset;
              margin-top: 16px;
            }
          }
          .fp-news-post {
            color: $color__header;
          }
          .fp-news-btn {
            text-decoration: none;
            color: $color__header;
            margin-top: auto;
          }
        }
      }
    }
  }
}
