//get involved section//

.involved-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 20px;
    height: 66vw;
    padding: 4.5rem;
    margin: 0 auto;
    @include desktop{
        width: 86%;
        height: 57vw;

    }
    
}

.donate{
    background-image: linear-gradient(120deg, rgba(89, 65, 18,0.7) 5%,rgba(13, 56, 48,0.7) 95%),
                      url(../../assets/images/HomepageDonateCard.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 11px;
    
}
.membership{
    background-image: linear-gradient(120deg, rgba(89, 65, 18,0.7) 5%,rgba(13, 56, 48,0.7) 95%),
                    url(../../assets/images/HomePageMembershipCard.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 11px;

}
.sponsor{
    background-image: linear-gradient(120deg, rgba(89, 65, 18,0.7) 5%,rgba(13, 56, 48,0.7) 95%),
                    url(../../assets/images/HomePageSponsorCard.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 11px;

}
.volunteer{
    background-image: linear-gradient(120deg, rgba(89, 65, 18,0.7) 5%,rgba(13, 56, 48,0.7) 95%),
                     url(../../assets/images/HomePageVolunteerCard.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 11px;
    
}
.involved-header {
    color: #fff;
    position: relative;
    top: 45%;
    left: 31%;
    font-family: $font__main;
    font-weight: bold;
    font-size: 20px;
    @include desktop{
        top: 50%;
        left: 39%;

    }
}
// flickity-slider
.flickity-slider{
    padding-bottom: 50px;
}
.flickity-page-dots{
    display: none;
}
.carousel-cell{
    
    img{
        padding-left: 10px;
    }
}