// specific to the Get Involved & Achivements Pages and sub tab menus  

.img-container img {
  opacity: 0.5;
}

.page .get-involved-hero-banner img {
  position: relative;
  width: 100vw;
}

.section-intro {
  font-size: 1.25rem;
  padding-left: 60px;
  padding-right: 25px;
}


