// specific to the Get Involved & Achivements Pages and sub tab menus

// .page .entry-header .entry-title {
//   position: absolute;
//   color: #fff;
//   z-index: 1;
//   top: 44%;
//   left: 35%;
//   display: flex;
//   flex-wrap: wrap;
//   max-width: 300px;
//   @include desktop {
//     top: 40%;
//     left: 44%;
// }
// }
  

.img-container img {
  opacity: 0.5;
}

.page .get-involved-hero-banner img {
  position: relative;
  width: 100vw;
}

.section-intro {
  font-size: 1.25rem;
  padding-left: 60px;
  padding-right: 25px;
}
