/* Header */

.site-header {
  height: 56px;
  background-color: $color__main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    height: 80px;
    padding: 0 100px;
    justify-content: unset;
  }
  .nav-container {
    display: flex;
    @include desktop {
      order: 2;
    }
    .main-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      &.active {
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 99;
        transition: 0.5s;
        background: $color__main;
      }
      .hamburger-menu {
        cursor: pointer;
        @include clean-all;
        @include desktop {
          display: none;
        }
        .hamburger-inner {
          background: $color__header;
          &::before {
            background: $color__header;
          }
          &::after {
            background: $color__header;
          }
        }
      }
      .header-primary-menu {
        padding: 0 16px;
        @include mobile {
          display: none;
        }
        .nav-menu {
          display: flex;
          flex-direction: column;
          @include desktop {
	        flex-direction: row;
          }
          li:first-child {
            @include desktop {
              width: 120px
            }
          }
          li {
            @include desktop {
              margin: 0 auto;
              height: 80px;
              width: 150px;
              border: none;
              &:hover {
                background: $color__button-light;
              }
              .arrow-down {
                display: none;
              }
            }
            .sub-menu {
              display: flex;
              flex-direction: column;
              @include desktop {
                margin-top: 56px;
              }
              li {
                @include desktop {
                  height: 100%;
                  width: 120%;
                  background: $color__button-light;
                  border-bottom: solid 1px white;
                  a {
                    height: 40px;
                    align-items: center;
                    display: flex;
                  }
                }
              }
              li:last-child {
                @include desktop {
                  border: none;
                }
              }
            }
          }
        }
        li {
          width: 359px;
          height: 48px;
          font-size: 20px;
          border-bottom: 1px solid white;
          display: flex;
          align-items: center;
          a {
            color: $color__header;
            padding-left: 16px;
          }
        }
      }
    }
  }
  .best-header-logo img {
    height: 28px;
    width: 73px;
    @include desktop {
      order: 1;
      height: 48px;
      width: 124px;
    }
  }
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  // margin-right: 16px;
  @include desktop {
    order: 3;
    margin-left: auto;
  }
  .search-content{
    @include desktop {
      display: flex;
      align-items: center;
      position: relative;
      width: 220px;
    }

  }
  .search-field {
    border-radius: 16px;
    @include desktop {
      width: 220px;
      height: 40px;
      border-radius: 50px;
      border: 2px solid $color__header;
      background: $color__main;
      &::placeholder {
        color: $color__header;
      }
    }
    // @include mobile {
    //   display: none;
    // }
  }
  .search-submit {
    @include clean-all;
    margin-right: 26px;
    button :hover {
      @include clean-all;
    }
  }
  .search-toggle-icon {
    width: 24px;
    height: 24px;
    @include desktop {
      position: absolute;
      right: 10%;
    }
  }
}

// hacks to fix WP gutenberg issue with z-index
.has-background-dim {
  z-index: 0;
}

/* Menu & Animation */
.open {
  .hamburger-menu {
    position: fixed;
    top: 64px;
    right: 16px;
  }
  .menu-item-204,
  .menu-item-261 {
    .sub-menu {
      margin-top: 24px;
      box-shadow: none;
      a {
        padding-left: 48px;
      }
    }
  }
}

.open-2 {
  margin-bottom: 150px;
}

.menu-item-204,
.menu-item-261 {
  display: flex;
  justify-content: space-between;
}

.arrow-down {
  height: 48px;
  width: 48px;
  @include clean-all;
  background-image: url(../../assets/vector-icons/icons/chevrons/down.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

