/* Header */

.site-header {
  height: 56px;
  background-color: $color__main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    height: 80px;
    padding: 0 100px;
    justify-content: unset;
  }
  .nav-container {
    display: flex;
    margin-left: 8px;
    @include desktop {
      order: 2;
    }
    .main-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      &.active {
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 99;
        transition: 0.5s;
        background: $color__main;
        left: 0;
        top: 0;
      }
      .hamburger-menu {
        cursor: pointer;
        @include clean-all;
        @include desktop {
          display: none;
        }
        .hamburger-inner {
          background: $color__header;
          &::before {
            background: $color__header;
          }
          &::after {
            background: $color__header;
          }
        }
      }
      .header-primary-menu {
        padding: 0 16px;
        @include mobile {
          display: none;
        }
        .nav-menu {
          display: flex;
          flex-direction: column;
          @include desktop {
            flex-direction: row;
          }
          li:first-child {
            @include desktop {
              width: 120px;
            }
          }
          .nav-drop-open {
            margin-bottom: 145px;
            align-items: unset;
            .sub-menu {
              display: flex;
            }
          }
          .nav-drop-open2 {
            margin-bottom: 145px;
            align-items: unset;
            .sub-menu {
              display: flex;
            }
          }
          li {
            @include desktop {
              margin: 0 auto;
              height: 80px;
              width: 150px;
              border: none;
              &:hover {
                background: $color__button-light;
              }
              .arrow-down {
                display: none;
              }
            }
            .sub-menu {
              display: none;
              flex-direction: column;
              @include desktop {
                margin-top: 56px;
                display: flex;
              }
              li:first-child {
                @include desktop {
                  border-top: unset;
                }
              }
              li {
                padding-left: 16px;
                @include desktop {
                  height: 100%;
                  width: 120%;
                  background: $color__button-light;
                  border-bottom: solid 1px white;
                  a {
                    height: 40px;
                    align-items: center;
                    display: flex;
                    &:hover {
                      color: $color__main;
                    }
                  }
                }
              }
              li:last-child {
                @include desktop {
                  border: none;
                }
              }
            }
          }
        }
        li {
          width: 359px;
          height: 48px;
          font-size: 20px;
          border-bottom: 1px solid white;
          display: flex;
          align-items: center;
          a {
            color: $color__header;
            padding-left: 16px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .best-header-logo img {
    height: 28px;
    width: 73px;
    @include desktop {
      order: 1;
      height: 48px;
      width: 124px;
    }
  }
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  margin-right: 8px;
  @include desktop {
    order: 3;
    margin-left: auto;
  }
  .search-content {
    @include desktop {
      display: flex;
      align-items: center;
      position: relative;
      width: 220px;
    }
  }
  .search-field {
    border-radius: 16px;
    @include desktop {
      padding-left: 16px;
      width: 220px;
      height: 40px;
      border-radius: 50px;
      border: 2px solid $color__header;
      background: $color__main;
      &::placeholder {
        color: $color__header;
      }
    }
    @include mobile {
      display: none;
    }
  }
  .search-toggle-icon {
    background: url(../../assets/vector-icons/icons/search.svg) no-repeat;
    background-size: contain;
    border: none;
    box-shadow: none;
    width: 24px;
    height: 24px;
    @include desktop {
      position: absolute;
      right: 5%;
    }
  }
}

// hacks to fix WP gutenberg issue with z-index
.has-background-dim {
  z-index: 0;
}

/* Custom Nav Button */
// .arrow-down
.arrow-down {
  height: 48px;
  width: 48px;
  @include clean-all;
  background-image: url(../../assets/vector-icons/icons/chevrons/down.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  @include desktop {
    display: none;
  }
}

/* Menu & Animation */
.open {
  .hamburger-menu {
    position: fixed;
    top: 64px;
    right: 16px;
  }
  .menu-item-has-children {
    display: flex;
    justify-content: space-between;
    .sub-menu {
      margin-top: 24px;
      box-shadow: none;
      a {
        padding-left: 48px;
      }
    }
  }
}