/* History page */

.history-intro-article {
    padding: 0 80px;
    line-height: 2;
    @include desktop {
        padding: 0 240px;
        padding-top: 40px;
    }
}
.history-intro-article-2 {
    padding: 0 80px;
    line-height: 2;
    @include desktop {
        padding: 0 240px;
    }
}

.history-content-1 {
    width: 100%;
    h2 {
        color: $color__main;
        text-align: center;
        margin: 56px;
        line-height: 1.5;
        .history-title-span {
            text-transform: uppercase;
        }
        .history-span {
            display: none;
        }
    }
    .history-info{
        @include desktop {
            display: flex;
            padding: 0 240px;
            margin: 32px 0;
        }
        .history-thumbnail {
            width: 168px;
            height: 168px;
            display: flex;
            margin: 0 auto;
            @include desktop {
                width: 275px;
                height: 275px;
            }
        }
        p {
            font-size: 1.3rem;
            padding: 0 72px;
            line-height: 2;
            text-align: center;
            @include desktop {
                padding: unset;
                display: flex;
                align-items: center;
                padding: 40px;
            }
        }
    }
    .history-info:nth-child(odd) {
        .history-thumbnail {
            order: 2;
        }
        p {
            order: 1;
        }
    }
    .history-content-line img {
        width: 100%;
    }
    .history-info-2 {
        @include desktop {
            display: flex;
            padding: 0 240px;
            margin: 32px 0;
        }
        .history-info-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .history-title-25years{
                margin-bottom: 0;
                @include desktop {
                    order: 1;
                    margin: unset;
                }
            }
        }
        .history-thumbnail {
            width: 168px;
            height: 168px;
            display: flex;
            margin: 0 auto;
            @include desktop {
                width: 275px;
                height: 275px;
                order: 2;
            }
        }
        a {
            padding: 16px;
            display: flex;
            justify-content: center;
            line-height: 1.3;
            text-decoration: underline;
            color: $color__button-light;
            @include desktop {
                justify-content: flex-end;
                order: 2;
                br {
                    display :none;
                }
            }
        }
    }
}

.history-content-2 {
    background: rgba(24,50,65,0.1);
    width: 100%;
    padding-bottom: 80px;
    h2 {
        color: $color__main;
        text-align: center;
        margin-top: 56px;
        padding-top: 32px;
        line-height: 1.5;
        @include desktop {
            br {
                display: none;
            }
        }
    }
    p {
        font-size: 1.2rem;
        padding: 0 72px;
        line-height: 2;
        text-align: center;
        @include desktop {
            padding: 0 240px;
        }
    }
    .history-content-2-btn {
        display: flex;
        margin: 0 auto;
        border-radius: 50px;
        width: 350px;
        height: 56px;
        padding: unset;
        box-shadow: none;
        text-shadow: none;
        a {
            width: 100%;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color__header;
            text-transform: uppercase;
        }
    }
}

/* Timeline */
.timeline {
    text-align: center;
    margin: 64px;
    .timeline-title {
        color: $color__main;
        padding-bottom: 32px;
        .history-title-span {
            text-transform: uppercase;
        }
    }
    .timeline-section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        .timeline-years {
            width: 100%;
            height: 112px;
            position: relative;
            display: flex;
            align-items: center;
            // overflow: hidden;
            /* Timeline Left Side */
            &:nth-child(odd) {
                border-right: 3px solid $color__main;
                text-align: left;
                .timeline-btn-wrapper {
                    .timeline-desktop-title {
                        @include mobile {
                            display: none;
                        }
                    }
                    @include desktop {
                        display: flex;
                        align-items: center;
                        height: 96px;
                        width: 60%;
                        background: $color__timeline-grey;
                        border-radius: 50px;
                        justify-content: center;
                        .timeline-desktop-title {
                            order: 2;
                        }
                    }
                    .timeline-btn {
                        height: 96px;
                        width: 96px;
                        border-radius: 50px;
                        @include clean-timeline;
                        @include desktop {
                            order: 1;
                            position: absolute;
                            left: 0;
                        }
                        h2 {
                            padding: unset;
                            font-size: 1.5rem;
                            @include desktop {
                                display: none;
                            }
                        }
                    }
                }
                .timeline-line {
                    margin: unset;
                    height: 5px;
                    width: 100%;
                    text-align: right;
                    position: absolute;
                    left: 96px;
                    top: 50%;
                    background: $color__button-light;
                    background: linear-gradient(145deg, rgba(227,167,47,1), rgb(56, 131, 116) 100%);
                    @include desktop {
                        width: 40%;
                        right: 0;
                        left: unset;
                    }
                }
            }
            /* Timeline Right Side */
            &:nth-child(even) {
                border-left: 3px solid $color__main;
                text-align: right;
                justify-content: flex-end;
                .timeline-btn-wrapper{
                    .timeline-desktop-title {
                        @include mobile {
                            display: none;
                        }
                    }
                    @include desktop {
                        display: flex;
                        align-items: center;
                        height: 96px;
                        width: 60%;
                        background: $color__timeline-grey;
                        border-radius: 50px;
                        justify-content: center;
                        
                    }
                    .timeline-btn {
                        height: 96px;
                        width: 96px;
                        border-radius: 50px;
                        @include desktop {
                            position: absolute;
                            right: 0;
                        }
                        @include clean-timeline;
                        h2 {
                            padding: unset;
                            font-size: 1.5rem;
                            @include desktop {
                                display: none;
                            }
                        }
                    }
                }
                .timeline-line {
                    margin: unset;
                    height: 5px;
                    width: 100%;
                    text-align: left;
                    position: absolute;
                    right: 96px;
                    top: 50%;
                    background: $color__button-light;
                    background: linear-gradient(245deg, rgba(227,167,47,1), rgb(56, 131, 116) 100%);
                    @include desktop {
                        width: 40%;
                        left: 0;
                        right: unset;
                    }
                }
            }
            /* Timeline Color Cycle */
            &:nth-child(5n + 1) {
                .timeline-btn {
                    background: $color__background-news;
                }
            }
            &:nth-child(5n + 2) {
                .timeline-btn {
                    background: $color__button-dark;
                }
            }
            &:nth-child(5n + 3) {
                .timeline-btn {
                    background: $color__main;
                }
            }
            &:nth-child(5n + 4) {
                .timeline-btn {
                    background: $color__darkblue;
                }
            }
            &:nth-child(5n + 5) {
                .timeline-btn {
                    background: $color__button-light;
                }
            }
        }
        .empty-div {
            &:nth-child(odd) {
                border-right: 3px solid $color__main;
                text-align: left;
            }
            &:nth-child(even) {
                border-left: 3px solid $color__main;
                text-align: left;
            }
        }
        .timeline-content {
            display: none;
            text-align: center;
            width: 400px;
            background: white;
            // overflow: unset;
            &.timeline-open {
                z-index: 100;
                position: absolute;
                display: block;
                top:100%;
                left:100%;
                transform: translate(-50%, -50%);
                
            }
        }

    }
}
