// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}
//media query//
$desktop-width: 620px;
@mixin desktop {
    @media(min-width: $desktop-width) {
        @content;
    }
}


// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Remove preset
@mixin remove {
	border: none;
    box-shadow: none;
    text-shadow: none;
    background: none;
	border-radius: unset;
	border-color: unset;
	padding: unset;
}