// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}
//media query//
$desktop-width: 620px;
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
$mobile-width: 619px;
@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
$small-mobile-width: 500px;
@mixin small-mobile {
  @media (max-width: $small-mobile-width) {
    @content;
  }
}

@mixin desktop-inbetween {
  @media only screen and (max-width: 1060px) and (min-width: 621px) {
    @content;
  }
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Remove preset
@mixin clean-all {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: none;
  border-radius: unset;
  border-color: unset;
  padding: unset;
}

@mixin clean-timeline {
  text-shadow: none;
  box-shadow: none;
  border-color: unset;
  border: none;
}

//visit button
@mixin orange-btn {
  border: 1px solid $color__button-light;
  border-radius: 40px;
  background-color: $color__button-light;
  filter: drop-shadow(2px 4px 5px black);

}


