/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// all hero banner texts:
.has-large-font-size {
  font-family: $font__main !important;
  color: $color__header !important;
  font-size: 36px !important;
  font-weight: 700 !important;
}

// page about
.entry-content{
  p{
    font-family: $font__second;
    color: $color__text-screen;
    font-size: 18px;
  }
}



// Donate Page
.page-template-page-donate #gform_fields_6 {
  padding-left: 50px;
}

.page-template-page-donate .gform_wrapper .gform_footer {
  padding-left: 50px;
}

// Living Streets side padding

.living-paragraph {
  padding: 0px 24px 0px 24px;
  margin: 0 auto;
}

// Donation-page 
.form-donation{
  margin: 0 auto;
  padding: 2rem;
}