/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
// page about
.entry-content{
  p{
    font-family: $font__second;
    color: $color__text-screen;
    font-size: 18px;
  }
}

.board-members {
  .members-title {
    text-align: center;
    padding: 30px;
    color: $color__main;
  }
  img {
    width: 1023px;
    height: auto;
    margin-left: 100px;
  }
  .members-names {
    font-family: $font__main;
    color: $color__text-screen;
    font-size: 1.25rem;
    line-height: 20px;
  }

  a {
    color: white;
    font-size: 20px;
    font-family: $font__main;
    text-transform: uppercase;
    font-weight: 450;
    letter-spacing: 0;
    margin-left: 420px;
    padding: 10px;
    @include orange-btn

  }
}
.staff-text{
  
  h1 {
    background-color: $color__background;
    text-align: center;
    color:$color__main;
    font-family: $font__main;
  }
}
.staff {
  height: 1100px;
padding: 125px;
  background-color: $color__background;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 70px;

  .staff-members {
    .staff-image {
    width: 342px;
    height: 380px;
   
    
    }

    .staff-name {
      text-align: center;
      padding: 5px;
      font-family: $font__main;
      color: $color__main;
      font-size: 1.3rem;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
    .staff-title {
      text-align: center;
      padding: 5px;
      font-family: $font__main;
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0;
      margin: 0;
      font-weight: 300;
    }
  }
}

/* Front page */
.site-content {
  max-width: 1240px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

// Donate Page
.page-template-page-donate #gform_fields_6 {
  padding-left: 50px;
}

.page-template-page-donate .gform_wrapper .gform_footer {
  padding-left: 50px;
}
