/* Home Post Page for Newsletter */

.news-content{
    .news-banner {
        width: 100%;
        height: 500px;
        background-image: url(../../assets/images/AboutUsNewsletterBanner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        h1 {
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color__header;
            font-size: 2.5rem;
            margin: unset;
        }
    }
    p {
        margin: 32px 0;
        padding: 0 120px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .news-signup {
        display: flex;
        justify-content: center;
        height: 44px;
        background: $color__button-light;
        width: 350px;
        margin: 0 auto;
        box-shadow: none;
        border-radius: 50px;
        text-shadow: none;
        margin: 32px auto;
        padding: unset;
        & :hover {
            background: $color__button-dark;
        }
        a {
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: $color__header;
            font-size: 1.2rem;
            margin: 0 auto;
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
        }
    }
    .news-select {
        text-align: center;
        font-size: 1.2rem;
    }
    .news-form {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
        }
        .news-month {
            width: 96px;
            height: 40px;
            margin: 0 8px;
            border: 2px solid $color__background-screen;
        }
        .news-year {
            width: 96px;
            height: 40px;
            margin: 0 8px;
            border: 2px solid $color__background-screen;
        }
    }
    .news-submit {
        box-shadow: none;
        text-shadow: none;
        border-radius: 30px;
        text-align: center;   
        padding: unset;
        width: 80px;
        height: 40px;
        background: $color__button-light;
        & :hover {
            background: $color__button-dark;
        }
    }
}

/* Post articles */ 
.newsletter-posts {
    text-align: center;
    padding: 64px;
    .post {
        margin: 40px 0;
        .entry-header img {
            display: none;
        }
        .entry-title a {
            color: $color__background-news;
            &:hover {
                color: $color__link-hover;
            }
        }
        .entry-meta {
            display: none;
        }
    }
}
