//Walking, Biking, Transit Resources Pages

.page {
  .resource-p {
    padding-left: 50px;
    font-family: $font__main;
    font-size: 1.25rem;
  }
  .tabs {
    // width: 90%;
    margin-top: 25px;
    padding: 15px 0px 20px 0px;
    border: 2px solid #228f7a;
    border-radius: 12px;
    margin: 32px;
  }
}

.page .wp-block-image img {
  position: relative;
  width: 100vw;
}

.tab-content {
  margin: 0 32px;
  display: none;
  font-family: $font__main;
  &:first-child {
    display: block;
  }
}

.tab-nav {
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.tab-link {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  color: $color__background;
}

.active-tab {
  border-bottom: 10px solid $color__main;
  color: $color__main;
  text-decoration: underline;
}

.tab-link:active {
  border-bottom: 10px solid $color__main;
  color: $color__main;
}

.page-template-page-resources .flickity-viewport {
  margin: 0px 50px 0px 50px;
}

.tab-content p span {
  font-size: 14pt !important;
}

@include desktop {
  // .tabs .tab-nav .flickity-button {
  //   display: none;
  // }
  .tab-content-flexed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tab-column-one {
    max-width: 45%;
    margin-right: 20px;
  }
  .tab-column-two {
    max-width: 45%;
    width: 50%;
    margin-left: 20px;
  }

  .gform_wrapper .top_label input.medium {
    width: 100%;
  }
}
