/* Single Post Page */ 
.site-news-post {
    background: $color__timeline-grey;
    .post {
        .entry-header {
            text-align: center;
            img {
                display: none;
            }
            .entry-title {
                padding-top: 32px;
                color: $color__main;
            }
        }
        .entry-content {
            padding: 64px 128px 64px 128px;
            line-height: 2;
            h2 {
                padding: 32px 0;
                color: $color__main;
            }
        }
    }
    .single-post-nav {
        .nav-previous,
        .nav-next {
            font-size: 1.5rem;
            padding-bottom: 16px;
            a {
                text-decoration: none;
            }
        }
    }
}