/* Timeline for History page */

.timeline {
    text-align: center;
    margin: 64px;
    .timeline-title {
        .timeline-years {
            width: 239px;
            height: 88px;
            position: relative;
        }
        .timeline-content {
            display: none;
        }

        /* Timeline Left Side */
        div:nth-child(odd) {
            margin-right: auto;
            border-right: 6px solid $color__main;
            text-align: left;
            .timeline-btn {
                height: 88px;
                width: 85px;
                border-radius: 50px;
                margin-left: 16px;
                @include clean-timeline;
                h2 {
                    padding: unset;
                    font-size: 1.5rem;
                }
            }
            .timeline-line {
                margin: unset;
                height: 5px;
                width: 132px;
                text-align: right;
                position: absolute;
                right: 0;
                top: 50%;
                background: $color__button-light;
                background: linear-gradient(145deg, rgba(227,167,47,1), rgb(56, 131, 116) 100%);
            }
        }

        /* Timeline Right Side */
        div:nth-child(even) {
            margin-left: auto;
            border-left: 6px solid $color__main;
            text-align: right;
            .timeline-btn {
                height: 88px;
                width: 85px;
                border-radius: 50px;
                margin-right: 16px;
                @include clean-timeline;
                h2 {
                    padding: unset;
                    font-size: 1.5rem;
                }
            }
            .timeline-line {
                margin: unset;
                height: 5px;
                width: 132px;
                text-align: left;
                position: absolute;
                left: 0;
                top: 50%;
                background: $color__button-light;
                background: linear-gradient(245deg, rgba(227,167,47,1), rgb(56, 131, 116) 100%);
            }
        }
        /* Timeline Color Cycle */
        div:nth-child(5n + 1) {
            .timeline-btn {
                background: $color__background-news;
            }
        }
        div:nth-child(5n + 2) {
            .timeline-btn {
                background: $color__button-dark;
            }
        }
        div:nth-child(5n + 3) {
            .timeline-btn {
                background: $color__main;
            }
        }
        div:nth-child(5n + 4) {
            .timeline-btn {
                background: $color__darkblue;
            }
        }
        div:nth-child(5n + 5) {
            .timeline-btn {
                background: $color__button-light;
            }
        }
    }
}

.timeline-open {
    height: 100vh;
    width: 100vw; 
    position: fixed;
    transition: 0.5s;
    background: $color__main;
}