// Structure //

$base__space-unit: 1.5rem;

// Colors
$color__linebreak: #F1B38D;
$color__wrapper-news: #F7E8C9;
$color__darkblue: #183241;
$color__main: #228f7a;
$color__background-news: #8caba3;
$color__header: white;
$color__text-screen: #404040;
$color__text-main: #000;
$color__button-light: #e3a72f;
$color__button-dark: #e67937;
$color__background: #e7e7e7;
$color__tab-blur: #e7e7e7;
$color__timeline-grey: #e5e5e5;
$color__background-body: #fff;
$color__background-screen: lightgrey;
$color__link: none;
$color__link-visited: purple;
$color__link-hover: #176f5d;


$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

// Typography

$font__main: 'Josefin Sans', sans-serif;
$font__second: 'Mukta',sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
